:root{
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

body{
    background: #E5E5E5;;
    width: 100%;
}
.container{
    width: 100%;
    height: 800px;
    padding: 20%;
}

.top-icon-1{
    background: #00AEEF;
    width:34.34px;
    height: 27.18px;
    position: absolute;
    left: 5.56%;
    right: 92.06%;
    top: 5.86%;
    bottom: 91.49%;
    box-shadow: var(--shadow);
}

.top-icon-2{
    background: #005B97;
    width:34.34px;
    height: 36.07px;
    position: absolute;
    left: 5.56%;
    right: 92.06%;
    top: 6.73%;
    bottom: 89.75%;
    box-shadow: var(--shadow);
}

.top-icon-3{
    background: #005B97;
    width:34.34px;
    height: 36.07px;
    position: absolute;
    left: 9.02%;
    right: 88.8%;
    top: 6.51%;
    bottom: 90.82%;
    box-shadow: var(--shadow);
}

.top-icon-4{
    background: #005B97;
    width:34.34px;
    height: 36.07px;
    position: absolute;
    left: 11.2%;
    right: 84.5%;
    top: 6.55%;
    bottom: 90.78%;
    box-shadow: var(--shadow);
}


.grace{
    background: #E5E5E5;
    width:379px;
    height: 38px;
    position: absolute;
    left: 80px;
    top: 185px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    color: #213F7D;
}

.text-1{
    background: #E5E5E5;
    width:566px;
    height: 48px;
    position: absolute;
    left:80px;
    top:243px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #545F7D;  
}

.text-2{
    background: #E5E5E5;
    width:557px;
    height: 72px;
    position: absolute;
    left: 80px;
    top:301px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #545F7D;
}

.input-detail{
    background: #fff;
    width:540px;
    height: 370px;
    position: absolute;
    left: 80px;
    top:403px;
    border-radius: 8px;
}


#form-1{
    position: absolute;
    width: 440px;
    height: 50px;
    left: 50px;
    right:50px;
    top: 97px;
    font-family: work sans;
}

#form-2{
position: absolute;
width: 440px;
height: 50px;
left: 50px;
right:50px;
top: 167px;
}

.btn{
    width: 440px;
    height: 48px;
    position: absolute;
    left: 9.03%;
    right: 60.42%;
    bottom: 75px;
    font-weight: 600;
    background: #39CDCC;
    border: none;
    border-radius: 8px;
}

.accept{
    position: absolute;
    width: 179px;
    height: 16px;
    left: 181px;
    top: 315px;

    font-family: Work Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #545F7D;
}

.enter-detail{
    background: #E5E5E5;
    width:540px;
    height: 370px;
    position: absolute;
    margin: 10px 50px 0px 10px;
    box-shadow: var(--shadow);
}

.agree-terms{
    
    position: absolute;
    left:111px;
    top: 793px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #545F7D;
    text-align: center;
}

.borrower-detail{
    background: #E5E5E5;
    width:600px;
    height: 600px;
    position: absolute;
    left:780px;
    top: 185px;
    border-radius: 8px;
}

.powered-by{
    background: #E5E5E5;
    width:600px;
    height: 600px;
    position: absolute;
    left:780px;
    top: 185px;
    box-shadow: var(--shadow);
}

.bottom-icon-1{
    background: red;
    width:69px;
    height: 14px;
    position: absolute;
    left: 654px;
    top: 930px;
    box-shadow: var(--shadow);
}

.bottom-icon-2{
    background: linear-gradient(31.32deg, #213F7D -30.58%, #39CDCC 116.98%);
    width: 69px;
    height: 14px;
    position: absolute;
    left: 654px;
    top: 930px;
    box-shadow: var(--shadow);
}